extends ../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Pagina inicial de Animation'
  -pageImage = ''

block main
  //- include ../includes/main-menu
  h1.title Hola Mundo
  //- .button Alex Chip
