// Slide Left
@mixin slideLeft($time) {
  animation: slideLeft $time;

  @keyframes slideLeft {
    from {
      transform: translate3d(-100%,0,0);
    }
  }
}

// Slide Right
@mixin slideRight($time) {
  animation: slideRight $time;

  @keyframes slideRight {
    from {
      transform: translate3d(100%,0,0);
    }
  }
}

// Slide Top
@mixin slideTop($time) {
  animation: slideTop $time;

  @keyframes slideTop {
    from {
      transform: translate3d(0,-100%,0);
    }
  }
}

// Slide Bottom
@mixin slideBottom($time) {
  animation: slideBottom $time;

  @keyframes slideBottom {
    from {
      transform: translate3d(0,100%,0);
    }
  }
}

// SlideDown
@mixin slideDown($time, $height) {
  max-height: 0;
  overflow: hidden;
  animation: slideDown $time forwards;

  @keyframes slideDown {
    to {
      max-height: $height;
    }
  }
}

// SlideUp
@mixin slideUp($time, $height) {
  max-height: $height;
  animation: slideUp $time forwards;
  overflow: hidden;
  
  @keyframes slideUp {
    to {
      max-height: 0;
    }
  }
}
